html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    background-color: #1e1e1e; /* Optional background color */
}

#unity-container {
    position: relative; /* Places it over other elements */
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10vh 0; */
}

#unity-frame {
    position: absolute;
    top: 62px;
    width: 570px;
    height: auto;
    aspect-ratio: 960/604;
    border: none;
}

#overlay-image {
    position: absolute;
    top: 0;
    width: 670px;
    height: auto;
    aspect-ratio: 1122/1074;
    object-fit: contain; /* Prevents distortion */
    z-index: 10; /* Ensures it's on top */
    pointer-events: none; /* Allows interaction with Unity */
}

/* Style for the background div */
#background-wallpaper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: #dc1c1c; /* Default color */
    z-index: -1; /* Keeps it behind all content */
}

/* Mobile Breakpoint - Show Warning Instead */
#warning-message {
    display: none;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 24px; /* Add padding */
    background-color: rgba(217, 100, 100, 0.8); /* Semi-transparent background */
    border-radius: 10px; /* Rounded corners */
    max-width: 70%;
    margin: 0 40px;
}

/* If screen width is below 960px, hide the game and show warning */
@media (max-width: 1200px) {
    #unity-container {
        display: none;
    }
    
    #warning-message {
        display: block;
    }
}